# Ignore data folders / symlinks
data/
datasets/
flow_based
packet_based

# Ignore macOS metadata
.DS_Store

# Ignore large file formats
*.csv
*.pdf

# Ignore Python environment cache
__pycache__/
.venv/
.mplconfig/
